{% block simplemde_editor_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
    <script type="text/javascript">
        $('document').ready(function()
        {
            var simplemde_test = new SimpleMDE({ element: $("#{{ id }}")[0] });
        });
    </script>
{% endblock %}
